
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 50vh;
  width: 30vw;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

#form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.unlist {
  display: flex;
  flex-direction: column;
  list-style-type: circle;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.list {
  display: flex; /* Keep flexbox for layout */
  align-items: center; /* Vertically center-align content */
  gap: 15px; /* Space between the elements in each list item */
  position: relative; /* Allows for custom bullet placement */
}

.list::before {
  content: "👀️"; /* Adds a bullet point */
  position: absolute; /* Position relative to the list item */
  left: -30px; /* Adjust based on padding and spacing */
  font-size: 1.5em; /* Adjust size of the bullet */
  color: black; /* Customize bullet color */
}