
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 50vh;
  width: auto;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

#form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.unlist {
  display: flex;
  flex-direction: column;
  list-style-type: circle;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.list {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
}

.list::before {
  content: "👀️";
  position: absolute;
  left: -30px;
  font-size: 1.5em;
  color: black;
}